.not-found {
  min-height: calc(100vh - 245px - 60px);
  padding: 245px 0px 60px;
  background-color: #202020;
}

.not-found__title {
  margin: 0;
  padding-bottom: 5px;
  color: #FFF;
  font-size: 140px;
  font-weight: 400;
  line-height: normal;
}

.not-found__subtitle {
  margin: 0;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.not-found__link {
  padding: 0;
  margin-top: 184px;
}

@media screen and (max-width: 768px) {
  .not-found {
    min-height: calc(100vh - 236px - 222px);
    padding: 408px 0px 222px;
  }
}

@media screen and (max-width: 435px) {
  .not-found {
    min-height: calc(100vh - 329px - 30px);
    padding: 329px 0px 30px;
  }

  .not-found__title {
    padding-bottom: 10px;
    font-size: 80px;
  }

  .not-found__subtitle {
    font-size: 12px;
  }

  .not-found__link {
    margin-top: 284px;
  }
}