.promo {
  background-color: #073042;
  padding: 50px 70px 60px;
}

.promo__content {
  max-width: 1140px;
  margin: 0 auto;
}

.promo__title {
  margin: 0;
  color: #FFF;
  font-size: 40px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -1.6px;
  max-width: 626px;
}

.promo__img {
  background: url('../../images/promo.svg') no-repeat center;
  background-size: cover;
  max-width: 722px;
  height: 244px;
  margin-top: 102px;
  margin-left: auto;
  opacity: 0.7;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .promo {
    padding: 300px 44px 70px;
  }

  .promo__title {
    margin: auto;
  }

  .promo__content {
    text-align: center;
  }

  .promo__img {
    margin-top: 140px;
    height: 230px;
  }
}

@media screen and (max-width: 435px) {
  .promo {
    padding: 183px 0px 40px;
  }

  .promo__title {
    margin: 0 10px;
    font-size: 31px;
    font-weight: 400;
    line-height: 125.806%;
    letter-spacing: -1.24px;
  }

  .promo__img {
    margin-top: 60px;
    background-position: 50%;
  }
}